.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #fff;
}

.header img {
  max-width: 100px;
}

.nav {
  display: flex;
  list-style-type: none;
}

.nav li {
  display: inline;
}

.nav a {
  text-decoration: none;
  color: black;
}

.main {
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 50%;
  background-color: #333;
  color: #fff;
  padding: 20px;
}
.button {
  color: black;
  background-color: #eccc31;
  border: none;
  border-radius: 1em;
  width: 8em;
  height: 3em;
  font-size: large;
}
@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
  }
}
